Repository putraridho/library-service: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint . --fix

Move to TypeOrm
  package.json
  src/db/db.module.ts
  yarn.lock
Due: prettier --write ., eslint . --fix

Add auth module
  .husky/pre-commit
  package.json
  src/app.module.ts
  src/auth/auth.controller.ts
  src/auth/auth.entity.ts
  src/auth/auth.guard.ts
  src/auth/auth.module.ts
  src/auth/auth.service.ts
  src/auth/decorator/public.decorator.ts
  src/auth/dto/login.dto.ts
  src/auth/dto/register.dto.ts
  src/db/db.module.ts
  src/migration/1718724253466-init-user.ts
  src/user/user.controller.spec.ts
  src/user/user.controller.ts
  src/user/user.entity.ts
  src/user/user.module.ts
  src/user/users.service.ts
  tsconfig.json
  yarn.lock
Due: prettier --write ., eslint . --fix

override start
  package.json
Due: prettier --write .

add `vercel.json`
  .gitignore
  vercel.json
Due: prettier --write .

update vercel.json
  vercel.json
Due: prettier --write .

Implement nest passport google oauth20 login
  package.json
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/auth/auth.service.ts
  src/auth/strategy/google.strategy.ts
  yarn.lock
Due: prettier --write ., eslint . --fix

Update logging information
  src/core/interceptors/logging.interceptor.ts
Due: prettier --write ., eslint . --fix

Unit testing
  package.json
  src/auth/auth.controller.spec.ts
  src/auth/auth.controller.ts
  src/auth/auth.entity.ts
  src/auth/auth.guard.spec.ts
  src/auth/auth.service.spec.ts
  src/auth/auth.service.ts
Due: prettier --write ., eslint . --fix

Create webpack.yml
  .github/workflows/webpack.yml
Due: none

Create npm-publish.yml
  .github/workflows/npm-publish.yml
Due: none

remove workflow
  .github/workflows/webpack.yml
Due: none

learn github actions
  .github/workflows/learn-github-actions.yml
  .github/workflows/npm-publish.yml
Due: none

run npm install
  .github/workflows/learn-github-actions.yml
Due: none

test and build
  .github/workflows/test-build.yml
Due: none

Path conditions:
  prettier --write .: ((any of: *.{json,css,md,html}) or (any of: *.{js,ts})) or (any of: .*rc)
  eslint . --fix: (any of: *.{js,ts}) or (any of: .*rc)
